# DW cache
_notes/
dwsync.xml

# YAML files
*.yaml
*.yml

# test files
tests/

# database
data/
*.db
*.db-wal
*.db-shm

# backup files
*copy.*
*.bak
*.backup
*.old
*.tmp
*.temp
*git.*

# system files
.DS_Store
Thumbs.db
.desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# python run
__pycache__/
*.py[cod]
node_modules/
dist/
build/
*.so
.Python

# python venv
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# log and outputs
*.log
*.out
*.pid
*.seed